// MOBILES
@media screen and (max-width: 480px) {
  .header__container {
    position: relative;
  }

  .hamburger {
    .hamburger ul {
      margin: 0 auto;
      position: absolute;
      padding-top: 30px;
      top: 50px;
      left: 0;
      width: 328px;
      height: 577px;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgb(255, 255, 255) 45%
      );
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hamburger li {
      margin-bottom: 32px;
    }

    .hamburger a {
      font-family: Fraunces;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #333d4b;
    }
    .hamburger .nav__bar {
      margin: 0;
      margin-top: 5px;
      padding: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: transparent;
      background-color: transparent;
      background: url(/images/times-solid.svg);
      background-repeat: no-repeat;
    }
  }
}
