.header {
  padding: 43px 0;
  &__container {
    display: flex;
    justify-content: space-between;
  }
}

// FOR TABLETS
@media screen and (max-width: 768px) {
  .header {
    &__container {
      width: 730px;
    }
  }
}

// FOR MOBILES
@media screen and (max-width: 480px) {
  .header {
    &__container {
      width: 367px;
    }
  }
}
