.header {
  margin: 0;
  padding: 43px 0;
  &__container {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    width: 1280px;

    display: flex;
    justify-content: space-between;
  }
}
