// DESKTOP

.instructions {
  padding-bottom: 200px;
}

.instructions__container h6 {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.instructions__main-content {
  position: relative;
  margin: 0;
  padding: 0;
  width: 1045px;
}
.line {
  position: absolute;
  top: 14px;
  width: 760px;
  border: 2px solid #fdd6ba;
  background-color: #fdd6ba;
  z-index: -99;
}
.oval {
  margin-bottom: 67px;
  position: absolute;
  width: 31px;
  height: 31px;
  background: #fefcf7;
  border: 2px solid #0e8784;
  border-radius: 25px;
}
.oval:nth-of-type(2) {
  left: 349px;
}
.oval:nth-of-type(3) {
  left: 729px;
}
.instructions__list {
  margin: 0;
  margin-top: 177px;
  margin-bottom: 64px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.instructions__item {
  margin: 0;
  padding: 5px;
  width: 285px;
  border-radius: 10px;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.instructions__item + .instructions__item {
  margin-left: 95px;
}

.instructions__item p:nth-of-type(1) {
  margin: 0;
  margin-bottom: 38px;
  display: inline-block;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.instructions__item p:nth-of-type(2) {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  width: 255px;
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.instructions__item p:nth-of-type(3) {
  margin: 0;
  padding: 0;
  line-height: 26px;
  color: #333d4b;
}

// TABLETS
@media screen and (max-width: 768px) {
  .instructions {
    padding-bottom: 144px;
  }

  .instructions__container {
    width: 730px;
  }

  .instructions__container h6 {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;
  }
  .instructions__main-content {
    position: relative;
    margin: 0;
    padding: 0;
    width: 689px;
  }
  .line {
    position: absolute;
    top: 14px;
    width: 467px;
  }
  .oval {
    margin-bottom: 80px;
  }
  .oval:nth-of-type(2) {
    left: 233px;
  }
  .oval:nth-of-type(3) {
    left: 466px;
  }
  .instructions__list {
    margin: 0;
    margin-top: 120px;
    margin-bottom: 44px;
  }
  .instructions__item {
    margin: 0;
    padding: 5px;
    width: 233px;
    border-radius: 10px;
  }
  .instructions__item + .instructions__item {
    margin-left: 10px;
  }

  .instructions__item p:nth-of-type(1) {
    margin-bottom: 42px;
    font-size: 72px;
    line-height: 72px;
  }
  .instructions__item p:nth-of-type(2) {
    margin: 0;
    margin-bottom: 38px;
    font-size: 28px;
    line-height: 32px;
    width: 233px;
  }
  .instructions__item p:nth-of-type(3) {
    font-size: 18px;
    line-height: 25px;
  }
}

// MOBILES
@media screen and (max-width: 480px) {
  .instructions {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .instructions__container {
    width: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instructions__container h6 {
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .instructions__main-content {
    position: relative;
    margin: 0;
    padding: 0;
    width: 327px;
  }
  .line {
    display: none;
  }
  .oval {
    display: none;
  }

  .instructions__list {
    margin: 0;
    margin-bottom: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instructions__item {
    margin: 0;
    padding: 5px;
    width: 327px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instructions__item + .instructions__item {
    margin-left: 0;
  }

  .instructions__item p:nth-of-type(1) {
    margin-bottom: 24px;
    font-size: 72px;
    line-height: 72px;
  }
  .instructions__item p:nth-of-type(2) {
    margin: 0;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 32px;
    width: 327px;
    text-align: center;
  }
  .instructions__item p:nth-of-type(3) {
    font-size: 15px;
    line-height: 25px;
    width: 327px;
    text-align: center;
  }
}
