.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__item {
    margin: 0;
  }

  &__item + &__item {
    margin-left: 33px;
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888f;
    transition: all 0.2s;
  }

  &__link:hover {
    color: #333d4b;
  }
}
